body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.12rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.36rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.02rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.68rem;
    font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #58a19a !important;
  border-color: #58a19a !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #77b5af !important;
  border-color: #77b5af !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #e96188 !important;
  border-color: #e96188 !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e48062 !important;
}
.bg-success {
  background-color: #4289a7 !important;
}
.bg-info {
  background-color: #e96188 !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #0e0e0e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e48062 !important;
  border-color: #e48062 !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #e48062;
  border-color: #e48062;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #e48062 !important;
  border-color: #e48062 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #77b5af !important;
  border-color: #77b5af !important;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #77b5af;
  border-color: #77b5af;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #77b5af !important;
  border-color: #77b5af !important;
}
.btn-info,
.btn-info:active {
  background-color: #e96188 !important;
  border-color: #e96188 !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #e96188;
  border-color: #e96188;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-success,
.btn-success:active {
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #4289a7;
  border-color: #4289a7;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #0e0e0e;
  border-color: #0e0e0e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #bf4521;
  color: #bf4521;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e48062;
  border-color: #e48062;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e48062 !important;
  border-color: #e48062 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #46807b;
  color: #46807b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #77b5af;
  border-color: #77b5af;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #77b5af !important;
  border-color: #77b5af !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #c81c4d;
  color: #c81c4d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #e96188;
  border-color: #e96188;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #254d5e;
  color: #254d5e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #4289a7;
  border-color: #4289a7;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #0e0e0e;
  border-color: #0e0e0e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e48062 !important;
}
.text-secondary {
  color: #77b5af !important;
}
.text-success {
  color: #4289a7 !important;
}
.text-info {
  color: #e96188 !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #0e0e0e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f3c6b9 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #b9d9d6 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #82b7cd !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #f5bbcb !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #ffffff !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #414141 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e96188;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #0e0e0e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e48062;
  border-color: #e48062;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e48062;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #94c1d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #c1c1c1;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.2rem;
}
blockquote {
  border-color: #e48062;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e48062;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e48062;
  border-bottom-color: #e48062;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e48062 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #77b5af !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e48062' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sAIuFmSHty {
  padding-top: 240px;
  padding-bottom: 105px;
  background-color: #cccccc;
}
.cid-sAIuFmSHty .title-align {
  width: 100%;
}
.cid-sAIuFmSHty .pricetitle {
  margin: 0;
  text-align: left;
}
.cid-sAIuFmSHty .img-col {
  position: relative;
  padding-top: 2rem;
}
.cid-sAIuFmSHty .img-col img {
  z-index: 2;
  position: relative;
}
.cid-sAIuFmSHty .pricebox {
  position: absolute;
  z-index: 1;
  top: -5rem;
  left: 2rem;
  width: 180px;
  height: 180px;
  background: #f0b35c;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sAIuFmSHty H2 {
  color: #e7272d;
  position: relative;
  display: inline-block;
  width: fit-content;
  text-align: left;
}
.cid-sAIuFmSHty H2:before {
  position: absolute;
  content: '';
  right: -120px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
}
.cid-sAIuFmSHty img {
  max-width: 500px;
  margin: auto;
}
.cid-sAIuFmSHty .mbr-section-subtitle,
.cid-sAIuFmSHty .title-align {
  color: #f0b35c;
}
.cid-sAIuFmSHty .price {
  color: #e7272d;
}
@media (max-width: 992px) {
  .cid-sAIuFmSHty .pricebox {
    top: -2rem;
    right: 2rem;
    left: auto;
  }
}
@media (max-width: 767px) {
  .cid-sAIuFmSHty .pricebox {
    width: 100px;
    height: 100px;
    top: 0rem;
    right: 2rem;
    left: auto;
  }
  .cid-sAIuFmSHty H2:before {
    width: 70px;
    right: -90px;
  }
  .cid-sAIuFmSHty .img-col {
    padding-top: 4rem;
  }
}
.cid-sAIuFmSHty H1 {
  color: #e06a46;
}
.cid-sAIuIgVIRE .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sAIuIgVIRE .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-sAIuIgVIRE .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-sAIuIgVIRE .dropdown-item {
  color: #000000 !important;
}
.cid-sAIuIgVIRE .dropdown-item:hover {
  color: #000000 !important;
}
.cid-sAIuIgVIRE .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-sAIuIgVIRE .nav-link:hover {
  color: #77b5af !important;
}
.cid-sAIuIgVIRE .btn-white {
  color: #e48062 !important;
}
.cid-sAIuIgVIRE .btn:hover {
  border-color: #77b5af !important;
  color: #77b5af !important;
}
.cid-sAIuIgVIRE .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sAIuIgVIRE .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sAIuIgVIRE .container {
  display: flex;
  margin: auto;
}
.cid-sAIuIgVIRE .navbar.navbar-short .nav-link,
.cid-sAIuIgVIRE .navbar.navbar-short .navbar-caption,
.cid-sAIuIgVIRE .navbar.navbar-short .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
}
.cid-sAIuIgVIRE .navbar.navbar-short .hamburger span {
  background: #ffffff !important;
}
.cid-sAIuIgVIRE .navbar-caption {
  padding-right: 3rem;
}
.cid-sAIuIgVIRE .navbar.opened {
  background: #de643f !important;
}
.cid-sAIuIgVIRE .nav-item:focus,
.cid-sAIuIgVIRE .nav-link:focus {
  outline: none;
}
.cid-sAIuIgVIRE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sAIuIgVIRE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sAIuIgVIRE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sAIuIgVIRE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sAIuIgVIRE .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sAIuIgVIRE .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sAIuIgVIRE .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #de643f;
}
.cid-sAIuIgVIRE .navbar.opened {
  transition: all 0.3s;
}
.cid-sAIuIgVIRE .navbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}
.cid-sAIuIgVIRE .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sAIuIgVIRE .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sAIuIgVIRE .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sAIuIgVIRE .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-sAIuIgVIRE .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sAIuIgVIRE .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sAIuIgVIRE .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sAIuIgVIRE .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sAIuIgVIRE .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sAIuIgVIRE .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sAIuIgVIRE .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sAIuIgVIRE .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sAIuIgVIRE .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sAIuIgVIRE .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sAIuIgVIRE .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sAIuIgVIRE .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sAIuIgVIRE .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sAIuIgVIRE .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sAIuIgVIRE .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sAIuIgVIRE .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-sAIuIgVIRE .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sAIuIgVIRE .navbar.navbar-short {
  background: #de643f !important;
  min-height: 60px;
}
.cid-sAIuIgVIRE .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sAIuIgVIRE .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sAIuIgVIRE .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sAIuIgVIRE .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sAIuIgVIRE .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sAIuIgVIRE .dropdown-item.active,
.cid-sAIuIgVIRE .dropdown-item:active {
  background-color: transparent;
}
.cid-sAIuIgVIRE .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sAIuIgVIRE .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sAIuIgVIRE .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sAIuIgVIRE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #de643f;
}
.cid-sAIuIgVIRE .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sAIuIgVIRE .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sAIuIgVIRE ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sAIuIgVIRE .navbar-buttons {
  text-align: center;
}
.cid-sAIuIgVIRE button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sAIuIgVIRE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sAIuIgVIRE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sAIuIgVIRE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sAIuIgVIRE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sAIuIgVIRE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sAIuIgVIRE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sAIuIgVIRE nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sAIuIgVIRE nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sAIuIgVIRE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sAIuIgVIRE .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-sAIuIgVIRE a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sAIuIgVIRE .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sAIuIgVIRE .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-sAIuIgVIRE .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sAIuIgVIRE .navbar {
    height: 77px;
  }
  .cid-sAIuIgVIRE .navbar.opened {
    height: auto;
  }
  .cid-sAIuIgVIRE .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sGmGzayjF1 {
  padding-top: 180px;
  padding-bottom: 75px;
  background-color: #f3f7ee;
}
.cid-sGmGzayjF1 H2 {
  color: #89b758;
}
.cid-sGmGzayjF1 .mbr-text,
.cid-sGmGzayjF1 .mbr-section-btn {
  color: #000000;
}
.cid-sGmGzayjF1 img {
  max-width: 1000px;
  margin: auto;
}
@media (max-width: 992px) {
  .cid-sGmGzayjF1 img {
    max-width: 500px;
    margin: auto;
  }
}
.cid-sGmGzayjF1 H1 {
  color: #de643f;
}
.cid-sAIuPhT5Oc {
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #fafafa;
}
.cid-sAIuPhT5Oc H2 {
  color: #e06a46;
}
.cid-sAIuPhT5Oc .mbr-text,
.cid-sAIuPhT5Oc .mbr-section-btn {
  color: #808080;
}
.cid-sAIuPhT5Oc .mbr-section-btn {
  margin-bottom: -5.2rem;
}
.cid-sAIuPhT5Oc .center-card {
  background: white;
  padding: 3rem;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.08);
}
.cid-sAIuPhT5Oc .mbr-figure {
  height: 100%;
}
.cid-sAIuPhT5Oc .card-img {
  padding: 0 2rem;
}
.cid-sAIuPhT5Oc img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.cid-sAIuPhT5Oc H1 {
  color: #77b5af;
}
@media (max-width: 992px) {
  .cid-sAIuPhT5Oc .mbr-section-btn {
    margin-bottom: 0rem;
  }
  .cid-sAIuPhT5Oc .card-img {
    padding: 0rem;
    padding-bottom: 2rem;
    max-height: 300px;
  }
  .cid-sAIuPhT5Oc .container {
    padding: 0 3rem;
  }
  .cid-sAIuPhT5Oc .center-card {
    margin-bottom: 2rem;
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sAIuPhT5Oc .container {
    padding: 0 2rem;
  }
  .cid-sAIuPhT5Oc .card-img {
    width: 100%;
  }
  .cid-sAIuPhT5Oc .center-card {
    padding: 1rem;
  }
}
.cid-sAYUS31rKH {
  padding-top: 75px;
  padding-bottom: 225px;
  background-color: #232323;
}
.cid-sAYUS31rKH H2 {
  color: #e06a46;
}
@media (min-width: 992px) {
  .cid-sAYUS31rKH .row {
    position: relative;
  }
  .cid-sAYUS31rKH .row .mbr-figure {
    width: 450px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -150px;
  }
  .cid-sAYUS31rKH .row .mbr-figure img {
    max-width: 600px;
  }
}
.cid-sAYUS31rKH img {
  max-width: 500px;
  margin: auto;
}
.cid-sGmEO4HJZs {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sGmEO4HJZs H2 {
  color: #e7272d;
}
.cid-sGmEO4HJZs .mbr-text,
.cid-sGmEO4HJZs .mbr-section-btn {
  color: #808080;
}
.cid-sGmEO4HJZs img {
  max-width: 500px;
  margin: auto;
}
.cid-sGmEO4HJZs .btn span {
  font-size: 2.4rem !important;
  margin-top: 0.6rem !important;
  margin-bottom: 0rem !important;
}
.cid-sGmEO4HJZs .btn {
  padding: 0.4rem 2.2rem;
  text-align: left;
  line-height: 1.3;
}
.cid-sAIuTRaEfv {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sAIuTRaEfv .card-subtitle {
  margin: 0;
}
.cid-sAIuTRaEfv .btn {
  padding: 0.6rem 1.8rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef !important;
}
.cid-sAIuTRaEfv .item-wrapper {
  background: #ffffff;
  padding: 1rem;
  border-radius: 9px;
  transition: all 0.3s;
  border: 1px solid #efefef;
  cursor: pointer;
  overflow: visible;
}
.cid-sAIuTRaEfv h4,
.cid-sAIuTRaEfv h6,
.cid-sAIuTRaEfv h5 {
  margin: 0;
}
.cid-sAIuTRaEfv .mbr-text {
  transition: all 0.3s;
}
.cid-sAIuTRaEfv .btn-white-outline {
  color: #e48062 !important;
}
.cid-sAIuTRaEfv .price {
  color: #77b5af;
  transition: all 0.3s;
}
.cid-sAIuTRaEfv img {
  transition: all 0.3s;
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.cid-sAIuTRaEfv .card {
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2rem;
}
.cid-sAIuTRaEfv .card:hover {
  transform: translateY(-2rem);
}
.cid-sAIuTRaEfv .card:hover .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
  background: #77b5af;
  color: #ffffff !important;
}
.cid-sAIuTRaEfv .card:hover .item-wrapper .price {
  color: #ffffff !important;
}
.cid-sAIuTRaEfv .card:hover .item-wrapper .mbr-text {
  color: #ffffff !important;
}
.cid-sAIuTRaEfv .card:hover .card-img {
  transform: translateY(2rem) scale(1.2);
}
.cid-sAIuTRaEfv .card:hover .btn {
  background: #de643f !important;
  color: black !important;
  border-color: #de643f !important;
}
.cid-sAIuTRaEfv .card-img {
  width: 100%;
  position: relative;
  transition: all 0.3s;
  padding-top: 2rem;
}
.cid-sAIuTRaEfv .card-img img {
  max-width: 200px;
}
.cid-sAIuTRaEfv .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-sAIuTRaEfv .wrapper {
    flex-direction: column;
  }
  .cid-sAIuTRaEfv .icon-padding {
    padding-left: 0rem;
  }
  .cid-sAIuTRaEfv .card-box {
    padding: 0;
  }
}
.cid-sAIuTRaEfv .mbr-text,
.cid-sAIuTRaEfv .mbr-section-btn,
.cid-sAIuTRaEfv .card-img {
  color: #808080;
}
.cid-sAIuTRaEfv H2 {
  color: #e06a46;
}
.cid-sAIuTRaEfv H1 {
  color: #77b5af;
}
.cid-sAIuTRaEfv .card-title,
.cid-sAIuTRaEfv .card-img {
  color: #e06a46;
}
.cid-sAIvv81753 {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #fafafa;
}
.cid-sAIvv81753 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.6;
}
.cid-sAIvv81753 input,
.cid-sAIvv81753 textarea {
  padding: 1rem 1.8rem !important;
  border-radius: 10px;
  font-size: 1.1rem;
}
.cid-sAIvv81753 .form-control:hover,
.cid-sAIvv81753 .form-control:focus {
  color: #808080 !important;
}
.cid-sAIvv81753 .btn-success {
  color: white !important;
}
.cid-sAIvv81753 img {
  width: 90%;
  border-radius: 8px;
}
.cid-sAIvv81753 .btn {
  border-radius: 30px;
}
.cid-sAIvv81753 textarea {
  min-height: 160px !important;
}
.cid-sAIvv81753 .form-control,
.cid-sAIvv81753 .field-input {
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-color: #c1c1c1;
  color: #808080;
  min-height: 4rem;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sAIvv81753 .form-control:hover,
.cid-sAIvv81753 .field-input:hover,
.cid-sAIvv81753 .form-control:focus,
.cid-sAIvv81753 .field-input:focus {
  background-color: #dadada;
  border-color: #c1c1c1;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sAIvv81753 input::-webkit-input-placeholder,
.cid-sAIvv81753 textarea::-webkit-input-placeholder {
  color: #808080;
}
.cid-sAIvv81753 input:-moz-placeholder,
.cid-sAIvv81753 textarea:-moz-placeholder {
  color: #808080;
}
.cid-sAIvv81753 .jq-selectbox li,
.cid-sAIvv81753 .jq-selectbox li {
  background-color: #f5f5f5;
  color: #000000;
}
.cid-sAIvv81753 .jq-selectbox li:hover,
.cid-sAIvv81753 .jq-selectbox li.selected {
  background-color: #dadada;
  color: #000000;
}
.cid-sAIvv81753 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f5;
}
.cid-sAIvv81753 .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #dadada;
}
.cid-sAIvv81753 H5 {
  color: #e06a46;
  padding-bottom: 1.5rem;
}
@media (max-width: 992px) {
  .cid-sAIvv81753 img {
    width: 100%;
  }
  .cid-sAIvv81753 .google-map {
    margin-bottom: 2rem;
  }
}
.cid-sAIvv81753 .google-map {
  height: 100%;
  min-height: 30rem;
  position: relative;
  filter: grayscale(1);
}
.cid-sAIvv81753 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sAIvv81753 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sAIvv81753 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sAIvv81753 .google-map[data-state='loading'] [data-state-details] {
  display: none;
}
@media (max-width: 576px) {
  .cid-sAIvv81753 .col-auto {
    width: 100%;
    text-align: center;
  }
}
.cid-sAZkjvNQ3X {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f2f3f7;
}
.cid-sAZkjvNQ3X .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #0196e3;
  margin-bottom: 1.5rem;
}
.cid-sAZkjvNQ3X .col-lg-4,
.cid-sAZkjvNQ3X .col-12 {
  padding: 0 2rem;
}
.cid-sAZkjvNQ3X .row {
  margin: 0 -2rem;
  justify-content: center;
}
.cid-sAZkjvNQ3X .card-wrapper {
  padding: 3rem 2rem;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  border-radius: 3rem;
}
@media (max-width: 767px) {
  .cid-sAZkjvNQ3X .card-wrapper {
    padding: 4rem 2rem;
  }
}
@media (max-width: 992px) {
  .cid-sAZkjvNQ3X .card-wrapper {
    margin-bottom: 3rem;
  }
}
.cid-sAZkjvNQ3X .card-title,
.cid-sAZkjvNQ3X .iconfont-wrapper {
  color: #e06a46;
  text-align: center;
}
.cid-sAZkjvNQ3X .card-text {
  color: #073b4c;
  text-align: center;
}
.cid-sAZkjvNQ3X .mbr-section-subtitle {
  color: #77b5af;
}
.cid-sAZkjvNQ3X .mbr-section-title {
  color: #e06a46;
}
.cid-sAZkgLbP8G {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e6e6e6;
}
.cid-sAZkgLbP8G .media-container-row {
  justify-content: space-between;
}
.cid-sAZkgLbP8G .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-sAZkgLbP8G .text-content {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .cid-sAZkgLbP8G .icons {
    justify-content: center !important;
  }
  .cid-sAZkgLbP8G .text-content * {
    text-align: center;
  }
}
.cid-sAZkgLbP8G .mbr-iconfont {
  font-size: 1.8rem;
  color: #e48062;
  padding: 1.2rem;
  width: fit-content;
  transition: all 0.3s;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  border-radius: 50%;
  margin: 0 0.5rem;
  margin-bottom: 2rem;
  display: block;
}
.cid-sAZkgLbP8G .mbr-iconfont:hover {
  background: #ffffff;
}
.cid-sAZkgLbP8G .mbr-section-title {
  color: #e06a46;
}
.cid-sAZkgLbP8G P {
  color: #77b5af;
}
.cid-sGmrDX9Ynp {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #de643f;
}
.cid-sAZ7XROXU2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e06a46;
}
.cid-sAZ7XROXU2 .logo {
  max-width: 80px;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
.cid-sAZ7XROXU2 .icon-wrap {
  display: flex;
  margin-bottom: 1rem;
}
.cid-sAZ7XROXU2 .icon-wrap span {
  margin-right: 14px;
  margin-top: 4px;
  font-size: 1.2rem;
  color: #ffffff;
}
.cid-sAZ7XROXU2 .feedimg {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0 2px;
}
@media (max-width: 767px) {
  .cid-sAZ7XROXU2 .feedimg {
    width: 80px;
    height: 80px;
  }
}
.cid-sAZ7XROXU2 .mbr-text,
.cid-sAZ7XROXU2 .mbr-section-btn {
  color: #ffffff;
}
.cid-sAZ7XROXU2 .location,
.cid-sAZ7XROXU2 .icon-wrap {
  color: #ffffff;
}
.cid-sAZ7XROXU2 H3 {
  color: #29361a;
}
.cid-sGmrli3WIK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sAZjzmlghH {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sAZYsIjETX {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sGmqrgc3PA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
